{{- if .Values.workflowTemplate.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: {{ include "argo-workflow-sample.fullname" . }}-templates
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "argo-workflow-sample.labels" . | nindent 4 }}
spec:
  templates:
    - name: hello
      container:
        image: {{ .Values.workflow.image.repository }}:{{ .Values.workflow.image.tag }}
        command: [echo]
        args: ["Hello from WorkflowTemplate!"]

    - name: whalesay
      inputs:
        parameters:
          - name: message
      container:
        image: docker/whalesay:latest
        command: [cowsay]
        args: ["{{`{{inputs.parameters.message}}`}}"]
{{- end }}
