{{- if .Values.workflow.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: {{ include "argo-workflow-sample.name" . }}-templateref-
  namespace: {{ .Values.namespace }}
spec:
  entrypoint: main
  templates:
    - name: main
      steps:
        - - name: call-hello
            templateRef:
              name: {{ include "argo-workflow-sample.fullname" . }}-templates
              template: hello
        - - name: call-whalesay
            templateRef:
              name: {{ include "argo-workflow-sample.fullname" . }}-templates
              template: whalesay
            arguments:
              parameters:
                - name: message
                  value: "Hello via Helm templateRef!"
{{- end }}
