{{- if .Values.workflow.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: {{ include "argo-workflow-sample.name" . }}-item-
  namespace: {{ .Values.namespace }}
spec:
  entrypoint: main
  templates:
    - name: main
      steps:
        - - name: scalar-loop
            template: print-item
            arguments:
              parameters:
                - name: value
                  value: "{{`{{item}}`}}"
            withItems:
              - apple
              - banana

    - name: print-item
      inputs:
        parameters:
          - name: value
      container:
        image: {{ .Values.workflow.image.repository }}:{{ .Values.workflow.image.tag }}
        command: [echo]
        args: ["{{`{{inputs.parameters.value}}`}}"]
{{- end }}
