{{- if .Values.workflow.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: {{ include "argo-workflow-sample.name" . }}-artifacts-
  namespace: {{ .Values.namespace }}
spec:
  entrypoint: main
  templates:
    - name: main
      steps:
        - - name: generate
            template: generate-data
        - - name: consume
            template: process-data
            arguments:
              artifacts:
                - name: input-file
                  from: "{{`{{steps.generate.outputs.artifacts.output-file}}`}}"

    - name: generate-data
      container:
        image: {{ .Values.workflow.image.repository }}:{{ .Values.workflow.image.tag }}
        command: [sh, -c]
        args: ["echo 'data' > /tmp/output.txt"]
      outputs:
        artifacts:
          - name: output-file
            path: /tmp/output.txt

    - name: process-data
      inputs:
        artifacts:
          - name: input-file
            path: /tmp/input.txt
      container:
        image: {{ .Values.workflow.image.repository }}:{{ .Values.workflow.image.tag }}
        command: [cat, /tmp/input.txt]
{{- end }}
